<section id="tryit" class="cta-section pt-130">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-10">
				<div class="cta-content-wrapper">
					<div class="section-title">
						<h2 class="mb-20">Customize this page</h2>
						<p>
							Try updating the content of this page to reflect
							your own. You can also explore modifying these
							components or creating your own in your Butter
							dashboard. Learn more about <a
								href="https://buttercms.com/kb/creating-editing-and-deleting-pages-and-page-types"
								>Page Types</a
							> and <a
								href="https://buttercms.com/kb/how-to-modify-components"
								>Components</a
							>.
						</p>
						<a
							href="https://buttercms.com/pages/"
							target="_blank"
							rel="noreferrer"
							class="main-btn btn-hover border-btn mt-30"
							>Update this in Butter</a
						>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="cta-image right-image text-lg-end">
					<img
						src="https://cdn.buttercms.com/2woWL7tRSZaPChWGIaSN"
						loading="lazy"
						alt=""
					/>
				</div>
			</div>
		</div>
	</div>
</section>
