---
const { item } = Astro.props;
---

<div class="single-testimonial">
    <div class="quote">
        <i class="lni lni-quotation"></i>
    </div>
    <div class="content">
        <p>{item.quote}</p>
    </div>
    <div class="info">
        <h6>{item.name}</h6>
        <p>{item.title}</p>
    </div>
</div>
