---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ScrollToTop from "../components/ScrollToTop.astro";

import "../css/bootstrap.min.css";
import "../css/lineicons.css";
import "../css/main.css";

const { title } = Astro.props;

if (!import.meta.env.PUBLIC_APITOKEN) {
    return Astro.redirect("404");
}
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css"
        />
        <title>{title}</title>
    </head>

    <body>
        <>
            <Header />
            <slot />
            <ScrollToTop />
            <Footer />
        </>

        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/polyfill.js"></script>
        <script src="../js/main.js"></script>

        <script src="../js/section-menu.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"
        ></script>
    </body>
</html>
